#user_edit
	h1
		text-align: center
	form
		margin: 0 auto
		width 300px
		@media phone
			width 500px
		.input-wrapper
			margin-top 30px
			label
				margin-bottom: 10px;
				display: block;
			.input-group 
				input
					width 150px - 26px - 10px
					@media phone
						width 250px - 26px - 10px
				input:last-child
					margin-left: 14px
			input
				width 300px - 26px
				@media phone
					width 500px - 26px
				height 43px
				padding 6px 12px
				font-size font-size
				outline none
				border color-line 1px solid
				border-radius 4px
			input:focus
				border #66afe9 1px solid
				outline none
				-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
					box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
			button
				width: 100%;
				height: 55px;