<div id="resetPassword" ng-hide="fake" class="animated fadeIn" data-ng-init="resetPassowrdInit()">
	<form ng-submit="postResetPassword()">
		<h1>重置密码</h1>
		<br>
		<div class="input-wrapper">
			<input type="password" ng-model="user.password" placeholder="请输入你的新密码" focus-me="true" 
			tipsy-s title="请输入你的新密码">
		</div>
		<div class="input-wrapper">
			<input type="password"  placeholder="再次输入密码确认"
			tipsy-s title="再次输入密码确认">
		</div>
		<div class="input-wrapper">
			<button type="submit"  
			  class="button button-rounded button-large glow button-flat button-primary button-block">保存</button>
		</div>
		<!-- <div class="input-wrapper" style="text-align:right">
			<a href="javascript:history.go(-1);"
			  class="button-rounded button-large glow button-flat"><i class="fa fa-hand-o-left"></i>&nbsp;&nbsp;返回</a>
		</div> -->
	</form>
</div>