// @import 'nib'
global-reset()
//color
//daytime
// color-line = #cccccc
// color-background = white
// color-font = #3b3b3b
// color-font-hover = #000
// color-theme = #00e0ff
// color-theme-shadow = #0399ad

//night
color-line = #bbbbbb
color-background = #555555
color-font = #bbbbbb
color-font-hover = white
color-theme = #2E2E2E
color-theme-shadow = #000000

@import "_base/variable"
@import "_base/common"

@import "_partials/navigation"
@import "_partials/footer"

// @import "_partial/container"

// @import "_view/index"
// @import "_view/login"
// @import "_view/register"
// @import "_view/forget"
// @import "_view/invite"
// @import "_view/setting"
// @import "_view/topicIndex"
// @import "_view/topicCreate"
// @import "_view/topicShow"
// @import "_view/unitShow"