html,body,input,button
	margin: 0
	background-color: color-background
	color color-font
	font-family: font-default
	font-size: font-size
	line-height: line-height
.container
	padding: 0 10px
	width: auto
	margin: 57px auto 50px auto
	@media phone
		width 768px;

#index,#login,#register,#forget,#resetPassword
	padding 15px 0px
	@media phone
		padding 50px 0px
#user_edit
	margin-top 15px + 57px 
	@media phone
		margin-top 50px + 57px
		padding: 50px 0px
		box-shadow: rgb(153, 153, 153) 0px 0px 15px 0px;
		border-radius: 5px;
a
	color color-font
	text-decoration: none
a.active,a:hover
	color color-font-hover
label:hover
	cursor: pointer

input[disabled]
	cursor: not-allowed;
	color:#cccccc
	
.fade.ng-hide-add,.fade.ng-hide-remove
	-webkit-transition all linear 0.5s
	-moz-transition all linear 0.5s
	-o-transition all linear 0.5s
	transition all linear 0.5s
	display:block!important;  
.fade.ng-hide-add.ng-hide-add-active,.fade.ng-hide-remove
	opacity 0
.fade.ng-hide-add,.fade.ng-hide-remove.ng-hide-remove-active
	opacity 1

// 修改slidebar 插件样式
#sb-site
	background: color-background
.sb-slidebar
	background-color: color-background
.sb-left,.sb-right
	width 100%;
	@media phone
		width 400px;
	padding 70px 30px
.sb-left
	border-right: 1px color-line solid
.sb-right
	border-left: 1px color-line solid

// 修改button样式
.button-large{
	padding 10px 25px
}

// 修改 toast 样式
#toast-container
	padding-top 200px;
