
//Media
width-form = 450px
width-phone = 600px
width-mini = 848px
width-tablet = 1024px
width-desktop = 1560px

form = "only screen and (min-width: " + width-form + ")"
phone = "only screen and (min-width: " + width-phone + ")"
mini = "only screen and (min-width: " + width-mini + ")"
tablet = "only screen and (min-width: " + width-tablet + ")"
desktop = "only screen and (min-width: " + width-desktop + ")"

//color
color-line = #cccccc
color-background = white
color-font = #817c7c
color-theme = #cccccc


//Font
font-default = "Helvetica Neue", "Helvetica","Microsoft YaHei", "WenQuanYi Micro Hei",Arial, sans-serif
font-serif = "Georgia", serif
font-mono = Monaco, Menlo, Consolas, Courier New, monospace
font-custom-family = "covered_by_your_graceregular"
font-custom-filename = coveredbyyourgrace-webfont
font-icon-family = "FontAwesome"
font-icon-filename = fontawesome-webfont
font-icon-version = "4.0.3"
ShowCustomFont = hexo-config("ShowCustomFont")
font-size = 100%
line-height = 1.5