
//Media
width-phone = 700px
width-mini = 848px
width-tablet = 1024px
width-desktop = 1560px

phone = "only screen and (min-width: " + width-phone + ")"
mini = "only screen and (min-width: " + width-mini + ")"
tablet = "only screen and (min-width: " + width-tablet + ")"
desktop = "only screen and (min-width: " + width-desktop + ")"


//Font
font-default = "Helvetica Neue", "Helvetica","Microsoft YaHei", "WenQuanYi Micro Hei",Arial, sans-serif
font-serif = "Georgia", serif
font-size = 18px
line-height = 1.5